{% extends "base.html" %}

{% block title %} {{ user }}'s Blog {% endblock %}

{% block content %}
    <h1>User {{ user }}'s Blog</h1>

    {% if user == current_user %}
        <form action="{{ url_for('create_post') }}" method="POST">
            <textarea name = "blog_post"></textarea></br>
            <input type="submit" name = "Post" />
        </form>
    {% endif %}

    {% for post in posts %}
        <hr/>
        {% if edit_id == post[0] %}
            <form action="{{ url_for('edit', post_id = edit_id) }}" method="POST">
                <textarea name = "blog_post">{{ post[2] }}</textarea></br>
                <input type="submit" name = "Post" />
            </form>
        {% else %}
            <p>{{ post[2] }}</p>
        {% endif %}
        <a href = "{{ url_for('edit', post_id = post[0]) }}">Edit Post</a>
    {% endfor %}
    <hr/>

{% endblock %}
